%nav.navbar.navbar-default
  .container
    .navbar-header
      .navbar-brand
        = link_to 'Ban Roulette'
    .nav.navbar-nav.navbar-right
      - if signed_in?
        = link_to("#{current_user.username}", '#')
        = link_to('Sign out', destroy_user_session_path, :method => :delete)
      - else
        = button_to("Sign in", { :action => 'create', :controller => 'sessions' }, 
          class: "btn btn-default navbar-btn")
